[Desktop Entry]
Encoding=UTF-8
Name=VluCash Wallet
Comment=VluCash wallet
Exec=vlucashwallet
Terminal=false
Type=Application
Icon=freelabit
MimeType=x-scheme-handler/vlucashwallet;
Categories=Office;Finance;
